.search {
  font-size: 1rem;
  border: 1px solid var(--color-border);
  color: var(--color-text-light);
  font-size: .857rem;
  height: 2.24rem;
  padding-left: 35px;
  background: url(../assets/icons/search.svg) no-repeat left 7px center; 
  background-size: 20px;
  margin-top: 1rem;
}
